sudo: false
language: scala
scala:
- 2.11.5
- 2.10.4
jdk:
- oraclejdk7
- oraclejdk8
cache:
  directories:
    - $HOME/.ivy2/cache
script:
- sbt ++$TRAVIS_SCALA_VERSION --warn datomiscaPlayJson/update datomiscaPlayJson/compile
- sbt ++$TRAVIS_SCALA_VERSION --warn datomiscaPlayPlugin/update datomiscaPlayPlugin/compile datomiscaPlayPlugin/test:compile
- sbt ++$TRAVIS_SCALA_VERSION datomiscaPlayPlugin/test
